.app__teams {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    flex: 1;
    padding-bottom: 30px;
}

.app__teams__team {
    margin-top: 30px;
    width: 100%;
}

.app__teams__team.app__teams__team--new {
    border: 1px dashed rgba(255,255,255, 0.3);
    text-align: left;
    color: rgba(255,255,255, 0.3);
    font-weight: 200;
    font-size: 18px;
    position: relative;
    margin-left: 10px;
    width: 300px;
    padding-left: 10px;
    height: 35px;
    cursor: pointer;
}

.app__teams__team.app__teams__team--new span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
}

.app__teams__team.app__teams__team--new:hover {
    border: 1px dashed var(--main-text-color);
    color: var(--main-text-color);
}

.app__teams__team__label {
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
    min-height: 40px;
    line-height: 40px;
}

.app__teams__team__label .bp3-icon {
    margin-right: 10px;
    vertical-align: middle;
}

.app__teams__team__label span {
    vertical-align: middle;
}

.app__teams__team__label__config {
    display: none;
    margin-left: 10px;
}

.app__teams__team__label__config .bp3-icon {
    color: var(--main-color);
}

.app__teams__team:hover .app__teams__team__label__config {
    display: inline-flex;
}

.app__teams__team__projectslist {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}